### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [14]:
# Create a list unique players then count length of that list
player_count = len(purchase_data["SN"].unique())
pd.DataFrame({"Total Players": player_count},index=[0])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Creating summary table by calling individual columns and applying methods on them
data_dic = {"Number of Unique Items": len(purchase_data["Item ID"].unique()),
            "Average Price": f'$ {round(purchase_data["Price"].mean(), 2)}',
            "Number of Purchases": purchase_data["Purchase ID"].count(),
            "Total Revenue": f'$ {purchase_data["Price"].sum()}'
            }
sum_df = pd.DataFrame(data_dic, index=[0])
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183        $ 3.05                  780     $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
# Generate a unique list of players
uni_df = purchase_data.drop_duplicates("SN")
# Creating summary tabel by grouping gender on the unique list and applying methods
gender_sum = pd.DataFrame({"Total Count": uni_df.groupby("Gender")["SN"].count(),
                           "Percentage of Players": round(uni_df.groupby("Gender")["SN"].count()/player_count * 100, 2)
                           .astype('str') + "%"
                           })
gender_sum

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Generate a non-unique list of player base on gender
nonu_gendergb = purchase_data.groupby("Gender")
# Creating variables to make table construction clearer and easier
g_pur_count = nonu_gendergb["Purchase ID"].count()
g_avg_price = nonu_gendergb["Price"].mean()
g_tot = nonu_gendergb["Price"].sum()
# gender_df_add_total is a unique list of players with a added column of total purchase
# is create by merging the unique list from last section and a groupby sum base on "SN"
gender_df_add_total = pd.merge(uni_df, purchase_data.groupby("SN")[
                               "Price"].sum(), on="SN")
# Counting average on the last DF base on gender, Price_y is total price per "SN"
g_avg_person = gender_df_add_total.groupby("Gender")["Price_y"].mean()

gender_analysis_df = pd.DataFrame({"Purchase Count": g_pur_count,
                                   "Average Purchase Price": "$" + round(g_avg_price, 2).astype(str),
                                   "Total Purchase Value": "$" + round(g_tot, 2).astype(str),
                                   "Average Total Purchase Per Person": "$" + round(g_avg_person, 2).astype(str)
                                   })
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Creating bins and bin names
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ["<10", "10-14", "15-19",
               "20-24", "25-29", "30-34", "35-39", "40+"]

# Using the unique list from first part
# Create a new list with each player binned into a age group
age_df = uni_df.copy()
age_df["Age Range"] = pd.cut(uni_df["Age"], bins, labels=group_names)

# Create summary DF using groupby age range
age_bin_sum = pd.DataFrame({"Total Count": age_df.groupby("Age Range")["SN"].count(),
                            "Percentage of Players": round(age_df.groupby("Age Range")["SN"].count()/player_count * 100, 2)
                            .astype(str) + "%"
                            },
                           index=group_names)
age_bin_sum

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Following same steps as the gender analysis
# First create a non-unique list with a added column for binned ages
# Then sort with groupby
age_anly_df = purchase_data.copy()
age_anly_df["Age Range"] = pd.cut(
    purchase_data["Age"], bins, labels=group_names)
age_gb = age_anly_df.groupby("Age Range")

# Creating variables to make table construction clearer and easier
a_pur_count = age_gb["Purchase ID"].count()
a_avg_price = age_gb["Price"].mean()
a_tot = age_gb["Price"].sum()
# age_df_add_total is a unique list of players with a added column of total purchase
# is create by merging the unique list from last section and a groupby sum base on "SN"
age_df_add_total = pd.merge(age_df, purchase_data.groupby("SN")[
                            "Price"].sum(), on="SN")
# Counting average on the last DF base on age range, Price_y is total price per "SN"
a_avg_person = age_df_add_total.groupby("Age Range")["Price_y"].mean()

age_analysis_df = pd.DataFrame({"Purchase Count": a_pur_count,
                                "Average Purchase Price": "$" + round(a_avg_price, 2).astype(str),
                                "Total Purchase Value": "$" + round(a_tot, 2).astype(str),
                                "Average Total Purchase Per Person": "$" + round(a_avg_person, 2).astype(str)
                                })
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# First groupby players, then caculate the sum of thier spending, sort and return only 5 rows
top_purchase = purchase_data.groupby("SN")["Price"].sum().sort_values().tail()
# Using the top 5 "SN" found, to create new table with only values of the five players
top_df = pd.merge(purchase_data, top_purchase, on="SN")
top_gb = top_df.groupby("SN")
# Create sum table by doing operation on groupby object
top_sum = pd.DataFrame({"Purchase Count": top_gb["Purchase ID"].count(),
                        "Average Purchase Price": "$" + round(top_gb["Price_x"].mean(), 2).astype(str),
                        "Total Purchase Value": "$" + round(top_purchase, 2).astype(str)
                        }).sort_values("Total Purchase Value", ascending=False)
top_sum

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
# Similar to top five spending players
# First generate a list of top five purchase count base on Item ID
# There are many entries tied at 8 counts
# Readme does not specify tie breaker so just using first that came out the my sort fuction
top_item_count = purchase_data.groupby(
    "Item ID")["Gender"].count().sort_values().tail()
# Using the top 5 item IDs found, to create new table with only values of the five items, using merge
top_item_df = pd.merge(purchase_data, top_item_count, on="Item ID")

top_item_gb = top_item_df.groupby("Item ID")
# Create a referencing df indexed with Item ID
item_id_ref = purchase_data.set_index("Item ID")
# Retrive item names using item id as indexes and create a 5 entry series by dropping duplicates
top_item_names = item_id_ref.loc[top_item_count.index,"Item Name"].drop_duplicates()
top_item_price = item_id_ref.loc[top_item_count.index,"Price"].drop_duplicates()

top_item_sum = pd.DataFrame({"Item Name": top_item_names,
                             "Purchase Count": top_item_gb["Purchase ID"].count(),
                             "Item Price": "$" + top_item_price.astype(str),
                             "Total Purchase Value": "$" + round(top_item_gb["Price"].sum(), 2).astype(str)
                             }).sort_values("Purchase Count", ascending=False)
top_item_sum
# Because of the count ties at 8 purchaes, my last entry is different from the starter results
# Also entries 2,3,4 are tied at 9 counts and are listed diffrently from sample results

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
# Again very similar to the last two sections
# First generate top five list this time using the sum of prices instead
top_item_profit = purchase_data.groupby(
    "Item ID")["Price"].sum().sort_values().tail()
profit_item_df = pd.merge(purchase_data, top_item_profit, on="Item ID")
profit_item_gb = profit_item_df.groupby("Item ID")

# Retrive item names and price using item id as indexes and the refence df created in last section
profit_item_names = item_id_ref.loc[top_item_profit.index,"Item Name"].drop_duplicates()
profit_item_price = item_id_ref.loc[top_item_profit.index,"Price"].drop_duplicates()

profit_item_sum = pd.DataFrame({"Item Name": profit_item_names,
                                "Purchase Count": profit_item_gb["Purchase ID"].count(),
                                "Item Price": "$" + profit_item_price.astype(str),
                                "Total Purchase Value": "$" + round(profit_item_gb["Price_x"].sum(), 2).astype(str)
                                }).sort_values("Total Purchase Value", ascending=False)
profit_item_sum

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.8

In [11]:
new_df = purchase_data.set_index("Item ID")
top_item_profit.index
a = new_df.loc[top_item_profit.index,"Item Name"].unique()